# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# User uploads & interim pipeline cache
data/raw/uploads/*
!data/raw/uploads/.gitkeep
data/interim/*
!data/interim/processed_features.parquet
data/processed/*
!data/processed/merged_raw.parquet
plots/*
.ipynb_checkpoints/
scratch/

